body {
background: rgb(87,206,78); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(87,206,78,1) 0%, rgba(106,181,68,1) 39%, rgba(68,112,43,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(87,206,78,1)), color-stop(39%,rgba(106,181,68,1)), color-stop(100%,rgba(68,112,43,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(87,206,78,1) 0%,rgba(106,181,68,1) 39%,rgba(68,112,43,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(87,206,78,1) 0%,rgba(106,181,68,1) 39%,rgba(68,112,43,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(87,206,78,1) 0%,rgba(106,181,68,1) 39%,rgba(68,112,43,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(87,206,78,1) 0%,rgba(106,181,68,1) 39%,rgba(68,112,43,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57ce4e', endColorstr='#44702b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* styling for slides that are inactive */
.impress-enabled .step {
    margin: 0;
    opacity: 0.0;
    border:solid 5px red;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

/* styling for slides that are active*/
.impress-enabled .step.active {
    opacity: 1;
    border:solid 2px black;
}

/* styling for all slides */
.slide {
    display: block;
    width: 725px;
    height: auto;
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgb(52, 52, 52);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    border-radius: 30px;
    font-family:"book antiqua";
    font-size: 24px;
}

/* styling for slide paragraphs */
.slide p {
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 30px;
}

/* styling for slide links */
.slide a, .slide a:visited {
    color: #071549;
    text-decoration: none;
    background-color: #abc;
    padding:2px;
    border-radius: 5px;
    border: 1px solid #cde;
}

.slide a:hover, .slide a:active {
    background-color: #cde;
}

/* styling for slide text area */
.slide .slide-text {
}

/* styling for menu section of each slide */
div.menu {
    border-top: 2px solid black;
    padding-top: 25px;
    text-align: center;
}

#centerControl {
    text-align: center;
    margin:auto;
}
#bar {
    margin-bottom:30px;
}
